
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

<script src="{{ "/assets/lightgallery/js/lightgallery.min.js" | prepend: site.baseurl }}"></script>

<!-- lightgallery plugins -->
<script src="{{ "/assets/lightgallery/js/lg-thumbnail.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/lightgallery/js/lg-fullscreen.min.js" | prepend: site.baseurl }}"></script>




<script>
$(document).ready(function() {
  $('#lightgallery').lightGallery({
    pager: true,
    thumbnail:true,
    animateThumb: false,
    showThumbByDefault: false
  });
});
</script>
